<h1>Insert Actors into Movies</h1>
<br>
<div class="section">
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Birth Year</th>
            <th>Age</th>
            <th>Select!</th>
        </tr>
        <tr *ngFor="let actor of actorsDB">
            <td>{{actor.name}}</td>
            <td>{{actor.bYear}}</td>
            <td>{{actor.bYear | age}}</td>
            <td><button type="submit" class="btn btn-primary" (click)="onSelectActor(actor)">Select</button></td>
        </tr>
    </table>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Select!</th>
        </tr>
        <tr *ngFor="let movie of moviesDB">
            <td>{{movie.title}}</td>
            <td>{{movie.year}}</td>
            <td><button type="submit" class="btn btn-primary" (click)="onSelectMovie(movie)">Select</button></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary" (click)="onInsertActor()">Add Actor to Movie</button>
</div>
